*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 1.6rem;
}

body{
    background-color: #FDFDFD;
}

html{
    font-size: 62.5%;
}

img{
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    transition: all 0.3s ease-in-out;
}


button{
    cursor: pointer;
}

.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    text-align: center;
    margin-top: 5%;
}

main{
    width: 940px;
    margin: 0 auto;
}

