nav{
    width: 76px;
    height: 360px;
    background: #FFFFFF;
    border-radius: 20px;
    position: fixed;
    margin-left: 50px;
}

nav,ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-heart{
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon-heart path{
    fill: red;
}

.icon-heart:hover path{
    fill: red;
}

.margin-bottom-25{
    margin-bottom: 25px;
}


svg{
    width: 45px;
    height: 45px;
}

svg path.active{
    fill: orangered;

}

svg:hover path {
    transition: all 0.3s ease-in-out;
    fill: orangered;
}